h1 {
    text-align:center;
    color:white;
    font-family:"Gill Sans", sans-serif;
}
body {
    /*background-color:rgb(179, 204, 255);*/
    background-color:black;
    color:white;
}
img {
    align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header {
    background-color:blue;
}
.background {
    background-color:rgb(172,203,255);
}
.now{
    background-color:pink;
}
.future {
    background-color:rgb(100,242,212);
    color:blue;

}
.footer{
    background-color: pink;

}
h2 {
    font-family: Georgia;
    text-align:center;
}
ul {
  list-style-type: '★';
}
li::marker {
  color: white;
}
p {
    text-size:100px;
}
table, th, td {
  border:1px solid white;
  text-align:center;
  font-size:30px;
  font-family:sans-serif;
}
